<div class="m-5 p-3">
  
  
  <!-- Button trigger modal -->
  <button type="button" (click)="addProduct()"
  data-backdrop="static" data-keyboard="false"
  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Agregar Producto
</button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{modalTitle}}</h1>
        <button type="button" class="btn-close" 
        (click)="closeClick()"
        data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-product-create [pro]="pro" *ngIf="ActivatedAddEditProd">

        </app-product-create>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<div class="m-5 p-1">  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Precio</th>
        <th scope="col" colspan="2">Opciones</th> <!-- Unified 'editar' and 'eliminar' -->
        
      </tr>
    </thead>
    <tbody>
      <tr class="text" *ngFor="let item of documents">
        <th scope="row"> {{item.codigo}}</th>
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="editProduct(item)"
          data-backdrop="static" data-keyboard="false" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fa fa-solid fa-pen-to-square"></i>
          </button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteItem(item)">
            <i class="fa fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


